.layout {
    width: 100%;
    max-height: 87.5dvh;
    overflow-y: auto;
}

.navbar {
    max-height: 3rem;
    display: flex;
    flex-shrink: 1;
    position: fixed;
    bottom: 5px;
    left: 0;
}

.navimg {
    object-fit: cover;
}

.navimgwrapper {
    position: relative;
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.navitem {
    display: flex;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    margin: 0 2px;
}

.navtext {
    margin: 4px 4px 0;
    padding-bottom: 2px;
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}

.heading {
    text-align: center;
}

.body {
    font-family: Arial, sans-serif;
    max-width: 250vh;
}

.viewselect {
    border-radius: 10px;
    border-style: solid;
}

.activeLink {
    border-bottom-style: solid;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}