.group {
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}

.groupdisplay {
    flex-grow: 1;
}

.groupp {
    margin: 2px;
}

.groupmembers {
    justify-content: space-between;
    padding-right: 25px;
}

.groupmemheading {
    margin-top: 10px;
}