.month {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.monthheading {
    width: 100%;
    align-items: center;
}

.weekdayheading {
    width: 12vw;
    height: 12vw;
    text-align: center;
}

.calendarnav {
    margin: 0;
}

.eventlist {
    overflow-x: auto;
}