/* GREEN THEME */
.btngreen,
.fldstgreen,
.activelinkgreen {
    border-color: rgb(23, 182, 92);
}

.btngreen:hover,
.navgreen:hover,
.todaygreen {
    background-color: rgba(23, 182, 92, 0.3);
}

.cardgreen {
    border-color: rgb(23, 182, 92);
    box-shadow: 2px 2px 3px rgb(23, 182, 92);   
}

.inputgreen {
    accent-color: rgb(23, 182, 92);
}

/* RED THEME */
.btnred,
.fldstred,
.activelinkred {
    border-color: rgb(244, 90, 90);
}

.btnred:hover,
.navred:hover,
.todayred {
    background-color: rgba(244, 90, 90, 0.3);
}

.cardred {
    border-color: rgb(244, 90, 90);
    box-shadow: 2px 2px 3px rgb(244, 90, 90);
}

.inputred {
    accent-color: rgb(244, 90, 90);
}

/* ORANGE THEME */
.btnorange,
.fldstorange,
.activelinkorange {
    border-color: rgb(255, 185, 56);
}

.btnorange:hover,
.navorange:hover,
.todayorange {
    background-color: rgba(255, 185, 56, 0.3);
}

.cardorange {
    border-color: rgb(255, 185, 56);
    box-shadow: 2px 2px 3px rgb(255, 185, 56);
}

.inputorange {
    accent-color: rgb(255, 185, 56);
}

/* BLUE THEME */
.btnblue,
.fldstblue,
.activelinkblue {
    border-color: rgb(14, 206, 236);
}

.btnblue:hover,
.navblue:hover,
.todayblue {
    background-color: rgba(14, 206, 236, 0.3);
}

.cardblue {
    border-color: rgb(14, 206, 236);
    box-shadow: 2px 2px 3px rgb(14, 206, 236);
}

.inputblue {
    accent-color: rgb(14, 206, 236);
}

/* PURPLE THEME */
.btnpurple,
.fldstpurple,
.activelinkpurple {
    border-color: rgb(198, 63, 236);
}

.btnpurple:hover,
.navpurple:hover,
.todaypurple {
    background-color: rgba(198, 63, 236, 0.3);
}

.cardpurple {
    border-color: rgb(198, 63, 236);
    box-shadow: 2px 2px 3px rgb(198, 63, 236);
}

.inputpurple {
    accent-color: rgb(198, 63, 236);
}